/* #region main */
#response {
    min-height: 90%;
}
@media screen and (max-height: 1044px) {
    #response {
        min-height: 86.125%;
    }
}
@media screen and (max-height: 756px) {
    #response {
        min-height: 80%;
    }
}

@media screen and (orientation: landscape){
    #response{
        grid-template-areas:
            "message message extra"
            "message message extra";
        grid-template-columns: auto auto 33%;
    }

    #header {
        font-size: var(--text-3xl);
    }
}
@media screen and (orientation: portrait){
    #response{
        grid-template-areas:
            "extra extra"
            "message message"
            "message message";
    }
    #header {
        font-size: var(--text-2xl);
    }
}

#message-box {
    grid-area: message;
    min-height: 0;
    overflow-y: auto;
    text-align: justify;
}

#statistics {
    grid-area: extra;
}

#loader { /* adapted from https://www.w3schools.com/howto/howto_css_loader.asp */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* #endregion */
/* #region classes */
.centered {
    width: fit-content;
    margin: auto;
}

.content {
    width: calc(min(100vh, 100vw));
    margin-inline: auto;
}

.container {
    border: 2px solid var(--border);
}

.error {
    outline: 2px solid red;
}
/* #endregion */
/* #region debug */
:root {
    --debug-outline: 0px;
}

div, span, header, main {
    outline-width: max(0px, var(--debug-outline));
    outline-style: solid;
    outline-color: red;
}

* {
    outline-width: max(0px, var(--debug-outline));
    outline-style: solid;
    outline-color: red;
}
/* #endregion */

