@import "tailwindcss";

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.129 0.042 264.695);
    --accent: oklch(0.968 0.007 247.896);
    --border: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-ring: var(--ring);
    --color-border: var(--border);
    --color-accent: var(--accent);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

.dark {
    --background: oklch(0.129 0.042 264.695);
    --foreground: oklch(0.984 0.003 247.858);
    --accent: oklch(0.279 0.041 260.031);
    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.551 0.027 264.364);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background dark:bg-slate-950 text-foreground dark:text-white;
    }
    header, footer {
        @apply bg-neutral-200 dark:bg-slate-900;
    }
    nav > a,
    #controls > a {
        @apply px-2 whitespace-nowrap mr-2 inline-block rounded-2xl;
    }
    nav > a:focus,
    nav > a:hover {
        @apply bg-slate-900 ring-2 ring-slate-500;
    }
    #loader {
        @apply mt-auto mb-auto border-4 border-slate-950 border-t-blue-500;
    }
    #controls a:focus,
    #controls a:hover,
    #statistics a:hover,
    #statistics a:focus {
        @apply bg-slate-800 ring-2 ring-slate-500;
    }
    a:active {
        @apply bg-slate-600 ring-2 ring-white;
    }
    #response > div {
        @apply min-h-0 p-1;
    }
    h1 {
        @apply text-5xl pb-1 pt-3;
    }
    h2 {
        @apply text-4xl pb-1 pt-3;
    }
    h3 {
        @apply text-3xl pb-1 pt-3;
    }
    h4 {
        @apply text-2xl pb-1 pt-3;
    }
    h5 {
        @apply text-xl pb-1 pt-3;
    }
}